.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.device {
  position: fixed;
  top: 20px;
  left: 20px;
}

.content {
  padding: 20px;
  width: 100%;
  background: #221334;
  min-height: 240px;
}

.title {
  display: flex;
  margin-bottom: 27px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-row-gap: 52px;
  grid-column-gap: 68px;
  justify-content: flex-start;
  align-items: center;
}
