.numberfont {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.normalbg {
  background: url('../../assets/itembg.svg');
  background-size: auto;
}

.hlbg {
  background: url('../../assets/itembghl.svg');
  background-size: auto;
}

.container {
  width: 290px;
  height: 138px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background: url('../../assets/itembghl.svg');
    background-size: auto;
  }

  .header {
    display: flex;

    .coinname {
      padding: 7px 56px 3px 37px;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      width: 132px;
    }

    .coinstatus {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .coininfo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-left: 22px;
    padding-right: 12px;
    border-top-right-radius: 10px;
    overflow: hidden;

    .coinlogo {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .coinlogoLoading {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: linear-gradient(
        278.16deg,
        rgba(255, 42, 109, 0.1) 0.94%,
        rgba(160, 126, 255, 0.1) 51.22%,
        rgba(61, 255, 255, 0.1) 98.25%
      );
      animation: coinlogoLoading 1.4s ease infinite;
    }

    @keyframes coinlogoLoading {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }

    .coindata {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .coinprice {
        font-size: 21px;
        margin-bottom: 13px;
      }

      .coninexpires {
        font-size: 13px;
        white-space: nowrap;
      }
    }

    .coinPriceLoading {
      width: 140px;
      height: 25px;
      background: linear-gradient(
        278.16deg,
        rgba(255, 42, 109, 0.1) 0.94%,
        rgba(160, 126, 255, 0.1) 51.22%,
        rgba(61, 255, 255, 0.1) 98.25%
      );
      animation: coinlogoLoading 1.4s ease infinite;
    }

    @keyframes coinPriceLoading {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }
  }
}
