.numberfont {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.normalbg {
  background: url('../../assets/itembg.svg');
  background-size: auto;
}

.hlbg {
  background: url('../../assets/itembghl.svg');
  background-size: auto;
}

.container {
  box-sizing: border-box;
  width: 290px;
  height: 138px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background: url('../../assets/itembghl.svg');
    background-size: auto;
  }

  .header {
    display: flex;

    .coinname {
      padding: 7px 56px 3px 37px;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      width: 132px;
    }

    .coinstatus {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .coininfo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-left: 22px;
    padding-right: 12px;
    border-top-right-radius: 10px;
    overflow: hidden;

    .coindata {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .coinprice {
        font-size: 21px;
        margin-bottom: 13px;
      }

      .coninexpires {
        font-size: 13px;
        white-space: nowrap;
      }
    }
  }
}
